h1 {
    font-size: 4em;
    color: white;
    background-color: black;
   
}

body {
    display: flex;
    justify-content: center;
    font: 48px;
}
h2 {
    display: flex;
    /*margin-left: 40%;*/
    justify-content: center;
    margin: 0px 750px 50px; 
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 30px;
    font-weight: 1000px;
}
h3 { display:flex;
    margin:20px 600px 50px;
    flex-wrap: wrap;
    font-size: 24px;
}

div {
    display: flex;
    justify-content: flex-start;
    
}
button {
    display: flex;
    margin: auto;
    background-color: blue;
    color: white;
    padding: 10px 10px 10px;
    box-shadow: 0 10px 10px;
    align-items: center;
    flex-flow:column;
}

button :hover {
    background-color: aqua;
}